/* Root / universal / some body settings */
:root {
  --background-color: gray;
  --font-style: system-ui;
  --font-size: 20px;
  --font-size-large: 40px;
  --border-dashed: dashed;
  --border-solid: solid;
  --border-outset: outset;
}
* {
  margin: 0;
  padding: 0;
  font-style: var(--font-style);
  font-size: var(--font-size);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  color: #0b1418;
}
body {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(to left, #a8dadc, #eee 0%, #5496b1 100%);
}
/* Set no wrap for header h1 element */
header h1 {
  white-space: nowrap;
}
/* Set gradient coloring for class targeting the h1 element */
.header-gradient {
  font-size: 48px;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(60deg, #0b1418, #38677a);
  color: transparent;
}
/* Nav element base settings */
.navbar {
  display: flex;
  font-size: 18px;
  position: relative;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}
/* Targeting the ul main nav links on the top of the page with some formatting */
.nav-links,
.aside-nav-links {
  text-decoration: none;
}
.nav-links:hover,
.aside-nav-links:hover {
  color: #046b99;
}
/* Starting to format the main section with the aside, about me, project etc.
Some addl settings defined while screen is wider/smaller for row-parent */
.row-parent {
  height: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.row-child {
  align-content: center;
  border-style: var(--border-solid);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 200px;
  justify-content: space-between;
  margin-bottom: 5px;
  margin: 10px;
  max-width: 100%;
  min-width: 300px;
  padding: 10px;
  width: fit-content;
}

.row-child h2 {
  margin: 10px;
  padding: 10px;
  border-style: var(--border-solid);
}
.project-rows, .about-me, .all-projects {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-style: var(--border-solid);
}
.project-rows, .about-me {
  flex-wrap: nowrap;
}
.all-projects {
  flex-wrap: wrap;
}
.about-me-p-content {
  padding: 5px;
}
.project-p-content {
  padding: 5px;
}
.about-me-p-border, .project-p-border {
  display: flex;
  flex-direction: column;
  padding-right: 5px;
  min-height: 100%;
  min-width: 100px;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
    margin: 10px;
  }
  /* Hides aside while screen is small */
  .row-aside {
    display: none;
  }
  /* Controls hamburger nav while the screen is small */
  .main-nav {
    list-style-type: none;
    display: none;
  }
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  .active {
    display: block;
  }
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
  }
  /* Formatting About Me section while screen is small */
 .project-rows, 
 .about-me, 
 .all-projects {
    display: block;
    flex-direction: row;
    flex-wrap: nowrap;
    border-style: var(--border-solid);
  }
  .about-me-p-content {
    display: flex;
    padding: 5px;
  }
  .about-me-p-border,
  .project-p-border {
    border-bottom: solid #0b1418;
    padding: 5px;
    min-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  main,
  nav {
    margin: 10px;
  }
  header {
    font-size: 18px;
    padding: 4px;
  }
  /* Define aside settings while screen is large */
  aside {
    padding: 1rem;
    flex: 0 0 200px;
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .row-aside {
    display: block;
    height: 100%;
    width: 150px;
    position: fixed;
    top: 70px;
    left: 0;
    padding-top: 40px;
  }
  .row-aside ul {
    font-size: 20px;
    display: block;
  }
  .row-aside ul li {
    padding-bottom: 10px;
  }
  /* Sets a margin for row-parent while aside is visible */
  .row-parent {
    margin-left: 150px;
  }

  /*Toggles burger icon when screen is larger than 768px*/
  .navbar-toggle {
    display: none;
  }
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
  }
  .about-me-p-border,
  .project-p-border {
    border-right: solid #0b1418;
  }
}