/* setting some root, universal and body elements */
:root {
  --color-white: #eee;
  --color-black: black;
  --font-style: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-size: 18px;
  --font-size-large: 48px;
  --border-dashed: dashed;
  --border-solid: solid;
  --border-outset: outset;
  --background-gradient: linear-gradient(to left, #a8dadc, #eee 0%, #5496b1 100%);
}

* {
  margin: 10;
  padding: 10;
  font-style: var(--font-style);
  font-size: var(--font-size);
  box-sizing: border-box;
  color: #0b1418;
}

body {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--background-gradient);
  font-family: var(--font-style);
}

h1, h2, h3, h4, h5, h6 {
  white-space: nowrap;
  padding: 15px;
}

/* Set gradient coloring h1 element */
.header-gradient {
  font-size: var(--font-size-large);
}

/* Nav element base settings */
.navbar {
  display: flex;
  font-size: 18px;
  position: relative;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}

/* Targeting main nav links with some formatting */
.nav-links,
.aside-nav-links {
  text-decoration: none;
}

.nav-links:hover,
.aside-nav-links:hover {
  color: #046b99;
  font-size: 20px;
}

/* Starting to format the main section with the aside, about me, projects, contact me area
Some addl settings defined while screen is wider/smaller */
.row-parent {
  height: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.row-child {
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 200px;
  margin-bottom: 5px;
  max-width: 100%;
  min-width: 300px;
  width: fit-content;
}

.row-child,
.project-rows, 
.about-me, 
.contact-me {
  margin: 10px;
  padding: 10px;
}

.prework-sg {
  width: 100%;
}

.project-rows, 
.about-me, 
.all-projects, 
.contact-me-p-content, 
.contact-me {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}

.project-rows, 
.about-me, 
.contact-me {
  flex-wrap: nowrap;
}

.all-projects, 
.contact-me-p-content {
  flex-wrap: wrap;
}

.all-projects {
  padding-bottom: 20px;
}

.contact-me-field {
  min-width: fit-content;
  width: 33%;
  padding-right: 10px;
  padding-bottom: 20px;
  align-content: center;
}

.contact-me-field i, div {
  display: block;
  align-items: center;
}

.contact-me-field a, 
.row-child a {
  text-decoration: none;
}
.row-child a {
  background-color: #5496b1;
  width: fit-content;
  justify-content: center;
  align-items: flex-end;
  border-style: outset;
  border-width: 4px;
  border-radius: 10px;
}

.about-me-p-border, 
.project-p-border, 
.contact-me-p-border {
  display: flex;
  flex-direction: column;
  text-align: right;  
  padding-right: 5px;
  min-height: 100%;
  min-width: 120px;
  position: relative;
  border-right: solid #0b1418;
}

/* Form formatting */

.centerme {
  text-align: center;
}

form div input, form div textarea, form p {
  max-width: 50%;
  min-width: 300px;
  text-align: left;
  border-radius: 10px;
  padding: 2px;
  margin-top: 5px;
}

.form-fields {
  align-self: flex-end;
  width: min-content;
}

.form-block {
  display: block;
}

.input-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 20px;
  resize: none;
}
.message-box {
  height: 10em;
}

/* Photo assignments and formatting */

.about-me-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.html-photo {
  background-image: url(/portfolio/assets/images/html.jpg);
}

.html-photo2 {
  background-image: url(/portfolio/assets/images/html2.jpg);
}

.css-photo {
  background-image: url(/portfolio/assets/images/css.jpg);
}

.learn-photo {
  background-image: url(/portfolio/assets/images/learn.jpg);
}

.css-photo,
.html-photo, 
.html-photo2,
.learn-photo {
  border-radius: 20px;
  background-position: center center;
  background-size: 100% auto;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%)
}

.css-photo:hover,
.html-photo:hover, 
.html-photo2:hover,
.learn-photo:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

/* This is a fake field to weed out bots who might try to submit emails on the contact form */

.bot-honey {
  display: none;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
    margin: 10px;
  }

  form p {
    max-width: 300px;
  }

  /* Hides aside while screen is small */
  .row-aside {
    display: none;
  }

  /* Controls hamburger nav while the screen is small */
  .main-nav {
    list-style-type: none;
    display: none;
  }

  .main-nav a {
    text-align: center;
    margin: 15px auto;
  }
  .active {
    display: inline-block;
  }

  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
  }

  /* Formatting About Me section while screen is small */
  .project-rows, 
  .about-me,
  .contact-me {
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .about-me-p-border,
  .project-p-border,
  .contact-me-p-border {
    border-bottom: solid #0b1418;
    border-right: none;
    min-width: 100%;
    text-align: center; 
  }

  .row-child {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  main,
  nav {
    margin: 10px;
  }

  header {
    font-size: 18px;
    padding: 4px;
  }

  /* Define aside settings while screen is large */
  aside {
    padding: 1rem;
    flex: 0 0 200px;
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  
  .row-aside {
    display: inline-block;
    height: 100%;
    width: 150px;
    position: fixed;
    top: 70px;
    left: 0;
    padding-top: 40px;
  }

  .row-aside menu {
    font-size: 20px;
    display: block;
  }

  .row-aside menu li {
    padding-bottom: 10px;
    list-style-type: none
  }

  /* Sets a margin for row-parent while aside is visible */
  .row-parent {
    margin-left: 300px;
    margin-right: 300px;
  }

  /*Toggles burger icon when screen is larger than 768px*/
  .navbar-toggle {
    display: none;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav a {
    margin: 15px;
  }

}