:root {
  --background-color: gray;
  --font-style: system-ui;
  --font-size: 20px;
  --font-size-large: 40px;
  --border-dashed: dashed;
  --border-solid: solid;
  --border-outset: outset;
}
* {
  margin:0;
  padding:0;
  font-style: var(--font-style);
  font-size: var(--font-size);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  color: #0B1418;
}
body {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(to left, #a8dadc, #eee 0%, #5496B1 100%);
}
body h1 {
  white-space: nowrap;
}
.header-gradient {
  font-size: 48px;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(60deg, #0B1418, #38677A);
  color: transparent;
}
.navbar {
  font-size: 18px;
  padding-bottom: 10px;
  position: relative;
  font-weight: bold;
}
.main-nav {
  list-style-type: none;
  display: none;
  white-space: nowrap;
}
.main-nav li {
  text-align: center;
  margin: 15px auto;
}
.nav-links,
.aside-nav-links,
.logo {
  text-decoration: none;
}
.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
}
.logo {
  display: inline-block;
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.active {
  display: block;
}
.row {
  border-style: var(--border-solid);
  display: flex;
  flex-direction: row;
  flex-grow:1;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}
.row-child {
  align-content: center;
  border-style: var(--border-solid);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  max-width: 50%;
  min-width: 300px;
  padding: 10px;
  width: fit-content;
}
.row-child h2 {
  margin: 10px;
  padding: 10px;
  border-style: var(--border-solid);
}
.row-child pre {
  margin: 10px;
  padding: 10px;
  border-style: var(--border-solid);
}
.row-child p {
  max-width: 300px;
}
.project-rows {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-style: var(--border-solid);
}
.flex-column {
  border-style: var(--border-solid);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  column-count: 3;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 1px;
  justify-content: flex-start;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
      margin: 10px;
    }
    .row-aside {
      display:none;
    }
  }

  @media screen and (min-width: 768px) {
    main, nav {
      margin: 10px
    }
    header {
      font-size: 18px;
      padding: 4px;
    }
    aside {
      padding: 1rem;
      flex: 0 0 200px;
      width: 100%;
      height: auto;
      max-width: 100%;
    }
    .row-aside {
      display: block;
      height: 100%;
      width: 150px;
      position: fixed;
      top: 70px;
      left: 0;
      padding-top: 40px;
    }
    .row-aside ul {
      font-size: 20px;
      display: block;
    }
    .row-aside ul li {
      padding-bottom: 10px;
    }
    .about-me {
      margin: 10px;
      padding: 10px;
      display: block;
      flex-direction: column;
      max-height: auto;
      max-width: 100%;
      border-style: var(--border-solid);
    }
    .about-me p {
      display: inline-block;
      align-content: center;
      justify-content: center;
      line-height: 1.2;
      text-indent: 25px;
    }
    .about-me-p-content {
      display: block;
      padding: 5px;
    }
    .about-me-p-border {
      display: inline-block;
      border-right: solid #0B1418;
      padding-right: 5px;
      height: 100%;
      max-width: 25%;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }
    .main-nav li {
      margin: 0;
    }
    .nav-links {
      margin-left: 40px;
    }
    .aside-nav-links {
      margin-left: 0px;
    }
    .navbar-toggle {
      display: none;
    }
    .logo:hover,
    .nav-links:hover {
      color: #046b99;
    }
    .row-parent {
      margin-left: 150px;
      padding: 10px;
      height: auto;
      display: flex;
      flex-direction: column;
      flex-grow: 2;
      border-style: var(--border-solid);
    }
  }
  @media screen and (max-width: 768px) {
    .sidebar {
      min-width: 100%;
    }
  }
  

/*  
header {
  display: grid;
  place-items: center;
  font-size: 12px;
  padding: 4px;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  border: 10px solid orange;
}
main {
  padding: 0;
  margin: 0;
  display: grid;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
  border: 10px solid purple;
}
footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
  margin-top: auto;
  border: 10px solid yellow;
}
.box-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  padding: 0;
  border: 10px solid green;
}
.box-flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  background-color: #333333;
  color: #d9d9d9;
  border: 10px solid blue;
}
.box-flex-center-left {
  align-items: center;
  justify-content: flex-start;
}
.box-img {
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  max-width: 100%;
}
.box-caption {
  position: absolute;
  max-width: 200px;
  margin: 0;
  padding: 0.5rem;
  word-break: break-word;
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: #f2f2f2;
  align-items: baseline;
}
.aside-flex {
  border: 10px solid brown;
  display: grid;
  max-height: 100%;
}
.sidebar {
  background-color: #b9c6ae;
  padding: 20px;
  text-align: left;
  float: left;
  border: 10px solid blue;
  align-items: stretch;
}
.products-caption {
  align-items: center;
  justify-content: flex-start;
}

*/
